/* Rario New theme Fonts import */

/* primary font */
@font-face {
    font-family: 'Rigid Square';
    font-style: normal;
    font-weight: 600;
    src: url(assets/fonts/Rigid-Square-Semibold.otf);
    font-display: swap;
  }
  @font-face {
    font-family: 'Rigid Square';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Rigid-Square-Regular.otf);
    font-display: swap;
  }
  @font-face {
    font-family: 'Rigid Square';
    font-style: normal;
    font-weight: 800;
    src: url(assets/fonts/Rigid-Square-ExtraBold.otf);
    font-display: swap;
  }
  @font-face {
    font-family: 'Rigid Square';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/Rigid-Square-Bold.otf);
    font-display: swap;
  }
  /* secoundary font */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Rubik-Regular.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/Rubik-Medium.ttf);
    font-display: swap;
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/Rubik-Bold.ttf);
    font-display: swap;
  }